// // 页面通用左右边距
// $pagePadding: 0.16rem;

// // 标题栏高度
// $navbarHeight: 0.5rem;

// // tab栏高度
// $tabbarHeight: 0.56rem;

// // tabbar阴影
// $tabbarShadow: 0 0 0.12rem rgba(0, 0, 0, 0.11);

// // 块级间距
// $gutter: 0.12rem;

$workLeftBarWeight: 6.25rem;

$workTopSearchHeight: 2.875rem; //搜索栏高度
$workTabManagerHeight: 2.5rem; // 标签管理栏高度
$workTopHeight: 5.375rem; // 搜索栏高度+标签管理栏高度

$minScreenWidth: 1280px; //1280px
$minScreenHeight: 800px; //800px
