// 主轴两边扩散，交叉轴居中
@mixin space-between() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// 主轴居中，交叉轴居中
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 主轴居中
@mixin center-x {
  display: flex;
  justify-content: center;
}

// 交叉轴居中
@mixin center-y {
  display: flex;
  align-items: center;
}
