html,
body {
    // background: #f4f5f6;
    height: 100%;
    min-width: 1280px;
    min-height: 800px;
    margin: 0;
}
// html {
//     margin: 0;
//     height: 100%;
//     // font-size: 100px;
//     // line-height: 1;
//     -webkit-text-size-adjust: 100%;
//     -moz-user-select: none; // 禁止复制
//     -ms-user-select: none;
//     user-select: none;
//     -webkit-user-select: none;
//     -webkit-tap-highlight-color: transparent; // 去除ios点击高亮
//     background: #f4f5f6;
// }
// body {
//     margin: 0;
//     height: 100%;
//     background: #f4f5f6;
// }

*,
::after,
::before {
    // -webkit-tap-highlight-color: transparent;
    // -moz-user-focus: none;
    // -webkit-appearance: none;
    // outline: none;
    // border: none;
    margin: 0;
    padding: 0;
}

//html的img的src为空处理，避免谷歌浏览器有边框
img[src=''],
img[src='null'],
img:not([src]) {
    opacity: 0;
}

// input,
// textarea {
//     outline: none;
//     background: transparent;
//     border: none;
//     outline: medium;
// }

// *:focus {
//     outline: none;
//     background-color: transparent;
// }

// ::selection {
//     background: transparent;
// }

// ::-moz-selection {
//     background: transparent;
// }

.btn {
    position: relative;
    line-height: normal;
    border: none;
    outline: 0;
    color: #fff;
    background: 0 0;
    box-shadow: none;
    text-align: center;
    -webkit-appearance: none;
    white-space: nowrap;
    box-sizing: border-box;
}
button[nz-button] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    i[nz-icon] {
        line-height: 0;
    }
}

.btn::after {
    border: none;
}

.btn-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-lg {
    font-size: 1rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
}

.btn-circle {
    border-radius: 1px;
}

.btn:disabled {
    opacity: 0.4;
}

/* 不适用于底部按钮 */
.btn-gradient-shadow {
    // box-shadow: 0px 8px 16px rgba(236, 71, 86, 0.3);
    box-shadow: 0px 8px 16px rgba(0, 200, 249, 0.2);
}
.btn-gradient-red-shadow {
    box-shadow: 0px 8px 16px rgba(251, 66, 101, 0.2);
}

.btn-gradient-shadow-bottom {
    // box-shadow: 0px -5px 16px rgba(251, 66, 101, 0.3);
    box-shadow: 0px -5px 16px rgba(0, 200, 249, 0.2);
}

.btn-gradient {
    background: linear-gradient(90deg, #00c8f9 0%, #0ce7fb 100%);
}

.btn-gradient:active {
    background: linear-gradient(90deg, #01bdec 0%, #0cd5e7 100%);
}

.btn-gradient-red {
    background: linear-gradient(90deg, rgba(251, 66, 101, 1) 0%, rgba(255, 120, 67, 1) 100%);
}

.btn-gradient-red:active {
    background: linear-gradient(90deg, rgba(245, 55, 91, 1) 0%, rgba(248, 110, 55, 1) 100%);
}

.btn-gradient-blue {
    background: linear-gradient(270deg, rgba(83, 175, 255, 1) 0%, rgba(105, 105, 252, 1) 100%);
}

.btn-gradient-blue:active {
    background: linear-gradient(270deg, rgba(75, 167, 247, 1) 0%, rgba(96, 96, 247, 1) 100%);
}

.btn-gradient-green {
    background: linear-gradient(90deg, rgba(27, 206, 153, 1) 0%, rgba(43, 212, 239, 1) 100%);
}

.btn-gradient-green:active {
    background: linear-gradient(90deg, rgba(21, 199, 146, 1) 0%, rgba(34, 206, 234, 1) 100%);
}

.btn-gradient-yellow {
    background: linear-gradient(90deg, rgba(244, 156, 52, 1) 0%, rgba(244, 212, 52, 1) 100%);
}

.btn-gradient-yellow:active {
    background: linear-gradient(90deg, rgba(237, 148, 43, 1) 0%, rgba(235, 203, 44, 1) 100%);
}
